.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: black;
}

.header__link {
  color: #fff;
  text-decoration: none;
}
