.App {
  text-align: center;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 6rem;
  width: 35%;
  background-color: #777777;
  height: 100vh;
}

.header {
  height: 6rem;
  width: 100%;
}

.main {
  margin-left: 35%;
  margin-top: 0rem;
  height: 100vh;
}
